@import url("https://rsms.me/inter/inter.css?v=3.19");

:root {
  --text-color: #97c1a9;
  --background-color: #ECEAE4;
}
.typing {
  position: relative;
  margin-left: 10px;
}
.typing::after {
  content: "";
  position: absolute;

  width: 100px;
  height: 50%;
  border-right: 20px solid white;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 200%;
  font-family: "Inter", monospace;
  margin: 10px;
  box-sizing: border-box;
}
textarea,
input {
  color: var(--text-color);
  background-color: var(--background-color);
  border: none;
  border-width: 0;
  padding: none;
  padding-block: none;
  outline-color: var(--background-color);
  border-color: var(--background-color);
}
textarea:focus,
input:focus {
  color: var(--text-color);
  background-color: var(--background-color);
  border: none;
  border-width: 0;
  outline: none;
}
input {
  display: table-cell;
}